@model Rocky.Models.ViewModels.RequirementsVM

<div class="container p-3">
    <div class="row p-4">
        <div class="col-6">
            <h2 class="text-primary">
                Подбор оборудования по требованиям
            </h2>
        </div>
    </div>
    <input type="hidden" asp-for="@Model.Requirements.FluidId" />
    <form method="get" enctype="multipart/form-data" class="align-content-center" style="display:flow">
        <div class="form-group" style="width:40%">
            <label asp-for="Requirements.FluidId"></label>
            <select id="selectSquad" asp-for="@Model.Requirements.FluidId" asp-items="@Model.FluidSelectList" class="form-control">
                <option selected value="0">--Выберите перекачиваемую жидкость--</option>
            </select>
        </div>
        <div class="form-group-row">
            <label asp-for="Requirements.QapacityNeed"></label>
            <input asp-for="Requirements.QapacityNeed" class="form-control p-1" style="width: 30%" />
        </div>
        <div class="form-group">
            <label asp-for="Requirements.P2Need"></label>
            <input asp-for="Requirements.P2Need" class="form-control p-1" style="width: 30%" />
        </div>
        <div class="form-group">
            <label asp-for="Requirements.NPIPA"></label>
            <input asp-for="Requirements.NPIPA" class="form-control p-1" style="width: 30%" />
        </div>
        <div class="form-group">
            <label asp-for="Requirements.TemperatureOfAir"></label>
            <input asp-for="Requirements.TemperatureOfAir" class="form-control p-1" style="width: 30%" />
        </div>
        <div class="form-group" style="width:40%">
            <label asp-for="Requirements.Placement"></label>
            <select id="selectSquad" asp-for="Requirements.Placement" asp-items="ViewBag.placementListVB" class="form-control">
                <option selected>--Категория размещения по ГОСТ 15150--</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Подобрать оборудование по требованиям</button>
        <a asp-action="Index" class="btn btn-danger">Показать все оборудование</a>
    </form>
</div>

<div class="container p-3">
    <br />
    <br />
    @{ if (Model.Products.Count() > 0)
            {
            Product p1 = new Product();
            <table class="table table-bordered table table-striped" style="width:120%">
                <thead>
                        <tr>
                            <th><label>№п/п</label></th>
                            <th><label asp-for="@p1.Image"></label></th>
                            <th><label asp-for="@p1.Name"></label></th>
                            <th><label asp-for="@p1.DesignNumber"></label></th>
                            <th><label asp-for="@p1.Category"></label></th>
                            <th><label asp-for="@p1.ApplicationType"></label></th>
                            <th><label asp-for="@p1.Status"></label></th>
                            <th><label>Подробно</label></th>
                        </tr>
                </thead>
                <tbody>
                    @{ int i = 0;
                        foreach (var obj in Model.Products)
                            {
                    <tr>
                        <td width="8%">@(i+=1)</td>
                        <td width="8%"><img src="@WC.ImagePath@obj.Image" style=" border-radius:5px; border:1px solid #bbb; width:30%" /></td>
                        <td width="22%">@obj.Name</td>
                        <td width="30%">@obj.DesignNumber</td>
                        <td width="20%">@obj.Category.Name</td>
                        <td width="20%">@obj.ApplicationType.Name</td>
                        <td width="20%">@obj.Status</td>
                        <td><a asp-controller="Home" asp-action="Details" class="btn btn-primary" asp-route-id="@obj.Id">Подробно</a></td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
            }
        else
            {
            <p>Нет ни одного подходящего изделия</p>
            }
    }

</div>
@section Scripts
{

}

